@import "./Toolbar.css";

.react-aria-Popover#block-toolbar-popover {
  max-width: 250px;
  transition: transform 200ms, opacity 200ms;

  &[data-entering],
  &[data-exiting] {
    transform: var(--origin);
    opacity: 0;
  }

  &[data-placement="right"] {
    --origin: translateX(-8px);
  }
}
